<!DOCTYPE html>
   <html>
      <head>
         <title>{{ page.title  }}</title>
         <!-- link to main stylesheet -->
         <link rel="stylesheet" type="text/css" href="/css/main.css">
      </head>
      <body>
         <h1>LTCE Prep</h1>
         <div  style="background-color: #ccc">
         <nav>
            <ul>
               <li><a href="/">Home</a>&nbsp; &nbsp;</li>
               <li><a href="/blog">Posts</a>&nbsp; &nbsp;</li>
               <li><a href="/vocab">Vocabulary</a>&nbsp; &nbsp;</li>
               <li><a href="/pronun">Pronunciation</a>&nbsp; &nbsp;</li>
               <li><a href="/repeat">Repeat Sentence</a>&nbsp; &nbsp;</li>
            </ul>
         </nav>
         </div>
         <div class="container">
         
         {{ content  }}
         
         </div><!-- /.container -->
         <footer>
           <ul>
              <li><a href="https://prepmi.github.io/">Home</a></li>
           </ul>
         </footer>
      </body>
   <html>
            
